# Deep Learning + CNN
torch
torchaudio

# Audio processing and spectograms
librosa
soundfile
pydub
sounddevice

# Data Manipulation and Metadata
numpy
pandas
datasets

# S3 / MinIO 
boto3

# Generate sintetic Data
gTTS

# ML and Visualization
scikit-learn
matplotlib
tqdm
ipykernel

# Logging 
wandb