# Nucleul pentru Deep Learning și CNN
torch
torchaudio

# Procesare Audio și Spectrograme
librosa
soundfile
pydub

# Manipulare Date și Metadata
numpy
pandas
datasets

# S3 / MinIO (pentru descărcarea datelor)
boto3

# Generare Date Sintetice (TTS)
gTTS

# Utilitare ML și Vizualizare
scikit-learn
matplotlib
tqdm
ipykernel
